version: '3.8'

services:
  app:
    build: .
    env_file: .env
    expose:
      - "8000"
    depends_on:
      - redis

  redis:
    image: "redis:alpine"

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app

volumes:
  caddy_data:
  caddy_config:
